.s_big_prices {
  padding-top: 2rem;
}
.button {
  color: white !important;
}
.s_header {
  padding-top: 100px;
}
.ph-menu-icon {
  margin-top: 0;
  font-size: 15px !important;
  padding: 0px 10px;
}
.logo:hover {
  color: #24cf5f;
}
.s_big_prices h3.wnd-align-center {
  padding-top: 20px;
  font-size: 15px;
}

.card {
  font-family: "Montserrat";
  width: 60%;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 30px;
  list-style-type: circle;
}
.recipe {
  padding: 10px;
}
.info {
  font-family: "Montserrat";
  color: #747474;
}
.flex {
  display: flex !important;
}
.card-img-top {
  margin-top: 0 !important;
}
.card-body {
  font-size: 0.75em;
}
.card-body ol {
  padding-left: 20px;
  text-align: left !important;
}
.advantage{
  width: 33.3%;
}
#nside{
  display: none;
}
@media (max-width: 27em) {
  header {
    height: 100px !important;
  }
}
@media (max-width: 28em) {
  .card {
    width: 90%;
  }
}
@media (max-width: 30em) {
  .image {
    display: none !important;
  }
  .text {
    width: 100% !important;
  }
  .modal__featured{
    display: none;
  }
  #inside{
    display: block;
    color: black;
    padding-left: 0;
    padding-top: 0;
  }
  .modal__content{
    padding-top: 15px;
  }
  .modal__container{
    width: 80%;
  }
  .button--close{
    color: black;
    position: relative;
    left: 0;
    right: 0;
    padding: 0;
  }
}
@media (max-width: 50em) {
  .wnd-font-size-180 {
    font-size: 100% !important;
  }
  h1 {
    font-size: 130% !important;
  }
}
@media (min-width: 50em) {
  .card {
    margin-top: 100px;
  }
}
